*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.customer-section {
    background-color: #e8f5e9; /* Light green background */
    padding: 50px;
}
.quote {
    border: 1px solid #ccc; /* Border for quotes */
    border-radius: 5px; 
    padding: 20px;
    margin: 20px 0;
}
.client-image {
    border-radius: 50%; /* Circular images */
    width: 50px;
    height: 50px;
}
.footer {
    padding: 20px 0;
    background-color:#e8f5e9;
}
.footer .social-icons a {
    margin: 0 10px;
    color: #6a6a6a; /* grey color for social icons */
    font-size: 18px;
}