*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.img-banner{
    height: 700px;
    width: 100%;
    border: 2px solid;
    background-color: rgb(208, 206, 206);
    position: relative;
}

.navbar{
    height: 80px;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: top 0.5s ease-in-out;
    z-index: 2000;
}

#main-img{
    height: 617px;
    width: 100%;
    object-fit: contain;
}

.banner-text{
    position:absolute;
    top: 180px;
    left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
       
}

.ex-btn{
    background-color: #e8363c !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

.ex-btn:hover{
    background-color: #f6121a !important;
}


