*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #667EEA; */
    background: #E55D87;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5FC3E4, #E55D87); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}

.card{
    height: 250px;
    width: 400px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    position: relative;
}

.visa-img{
    height: 30px;
    width: 100%;
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
}

#img-1{
    height: 20px;
    position: absolute;
    right: 40px;

}

.chip-container{
    height: 30px;
    width: 100%;
    position: absolute;
    top: 55px;
    display: flex;
    align-items: center;
}

#img-2{
    height: 35px;
    position: absolute;
    left: 25px;
}

.num-container{
    height: 20px;
    width: 100%;
    position: absolute;
    top: 105px;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    left: 20px;
}
.card-info{
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: flex;
    align-items: center;
}

#title-1{
    color: #fff;
    position: absolute;
    top: 20px;
    left: 10px;
}

#name{
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 10px;
}